# .env.example
APP_NAME=morpho-proxy
APP_VERSION=0.0.1-SNAPSHOT
JAVA_VERSION=21
EXPOSE_PORT=8080
APP_PORT=8080

REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKERS=localhost:9092
OIDC_ISSUER_URI=http://localhost:8081/realms/morpho

RATE_LIMIT_REPLENISH=50
RATE_LIMIT_BURST=100

ROUTE_ID=user_service_migration
ROUTE_PATH=/api/v1/users/**
LEGACY_URI=http://localhost:8082
MODERN_URI=http://localhost:8083
CANARY_PERCENTAGE=10